
@import url('https://fonts.googleapis.com/css?family=Lato');

/* */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: auto;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: hsl(220, 10%, 12%);
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
  
}
.flip-card-container {
  
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);
  width: 310px;
  height: 500px;
  margin: 30px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: .6s .1s;
}
/*
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
*/
/**/
/**/
/**/

.flip-card > .card-front,
.flip-card > .card-back {

  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: .5s;
  transition-property: transform, opacity;
}
.flip-card > .card-front {
  transform: rotateY(0deg);
}
.flip-card > .card-back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip-card:active > .card-front {
  transform: rotateY(180deg);
}
.flip-card:active > .card-back {
  opacity: 1;
  transform: rotateY(0deg);
}

/*
.flip-card {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}

.flip-card > .card-front,
.flip-card > .card-back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 450px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
*/

















.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2;
}
.card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}
figure {
  z-index: -1;
}
figure,
.img-bg {

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
/* background */
.column__background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  animation: movimiento 15s  infinite linear alternate;
}
@keyframes movimiento{
  from{
    background-position: bottom left;
  }
  to{
    background-position: top right;
  }
}
.column__background:after {
  content: '';
  background: rgba(3, 1, 1, 0.39);
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
}
.column__background.column--active:after {
  background-color: transparent;
}
.column__background:hover {
  cursor: pointer;
}
.column__background:hover:after {
  background: transparent;
}

/* figcaption */
figcaption {
  display: block;
  width: auto;
  margin-top: 12%;
  padding: 8px 22px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 12px;
  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}
/**/
.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}
.card-front .img-bg {
  -webkit-clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
          clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}
.card-back .img-bg {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}
/**/
button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);
  letter-spacing: 2px;
  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;
  cursor: pointer;
}
button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}
button:active {
  -webkit-transform: translate(2px);
          transform: translate(2px);
}
/*footer-----------------------------------------------------------------------------------------------------------*/
h1 {
  font-size: 2.2em;
}
.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: .5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 100%;
}
.flip > .front,
.flip > .back {
  display: block;
  color: beige;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: transparent;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
/*socials-----------------------------------------------------------------------------------------------------------*/
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #90AD00;
}
.social-btns .btn.facebook .fa {
  color: #6F8405;
}
.social-btns .btn.twitter:before {
  background-color: #90AD00;
}
.social-btns .btn.twitter .fa {
  color: #6F8405;
}
.social-btns .btn.github:before {
  background-color: #90AD00;
}
.social-btns .btn.github .fa {
  color: #6F8405;
}
.social-btns .btn.behance:before {
  background-color: #90AD00;
}
.social-btns .btn.behance .fa {
  color: #6F8405;
}
.social-btns .btn.linkedin:before {
  background-color: #90AD00;
}
.social-btns .btn.linkedin .fa {
  color: #6F8405;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #414D04;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  display: inline-block;
  height: 60%;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: transparent;
  width: 65px;
  height: 65px;
  line-height: 70px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 60px;
  vertical-align: middle;
}